.itemsToGuessCode{
    display: none;
    
}
#playAgainButton{
    display: none;
    text-align: center; 
}
#guessString{
    display: flex;
    flex-direction: column;
}

body{
    text-align: center;
    font-family: Lato;
}

h1{
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: Lato;
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 10px;
    padding-left: 10px;
}

label, div, p{
    font-weight: 300;
    font-size: 24px;
    color:white;
}

.guess
{
    padding-left: 40%; 
    /*esto arregla algunas cosas y friega otras*/
}

#playAgainButton
{
    margin:auto;
}

input, button{
    height: 24px;
    font-weight: 300;
    font-size: 15px;
}

#lettersCheckBox
{
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    transform: scale(1.5);
}

select{
    height: 30px;
    width: 160px;
    font-weight: 400;
    font-size: 16px;
}


button
{
    padding: 22px 40px;
    background: rgb(83, 83, 168);
    border-radius: 40px;
    font-weight: 600;
    color: white;
    font-family: Lato;
    text-align: center; 
}

button:hover
{
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    box-shadow: #3e3389 -1px 1px, #3e3389  -2px 2px, #3e3389  -3px 3px, #3e3389  -4px 4px, #3e3389 -5px 5px, #3e3389 -6px 6px;
    transform: translate3d(6px, -6px, 0);
    
    transition-delay: 0s;
        transition-duration: 0.4s;
        transition-property: all;
    transition-timing-function: line;
}

p{
    text-align: left; 
    display: inline;
}